//	BASE

* {
  box-sizing: border-box;
}

body {
  background-color: $gray-light;
  color: $black;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

a {
  color: $green;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  &:hover {
    color: $green-hover;
  }
}

p {
  color: $black;
  line-height: 1.7;
  margin-bottom: 1em;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin: .8rem 0 1rem 0;
}

.btn-primary {
  align-items: center;
  background: linear-gradient(180deg, #27243E 8.84%, #4EA797 81.77%, #3FD1B7 100%);
  box-shadow: inset 0px 0px 4px $black;
  border: 2px solid $green-dark;
  color: $white;
  display: flex;
  font-family: 'Alegreya', serif;
  font-size: 1.1rem;
  font-weight: bold;
  height: 47px;
  justify-content: center;
  overflow: visible;
  padding: 0 1em;
  position: relative;
  text-shadow: 0 -2px 2px darken($black, 20%);
  transition: all .3s ease;
  text-transform: uppercase;
  &::before ,
  &::after {
    background-image: url("../images/buttonpath.svg");
    background-repeat: no-repeat;
    content: "";
    height: 130%;
    position: absolute;
    width: 40px;
  }
  &::after {
    right: -18px;
    top: -7px;
    transform: rotate(180deg);
  }
  &::before {
    left: -18px;
    top: -6px;
  }
  &:hover {
    background: $green-hover;
    box-shadow: none;
    color: $green-dark;
    text-shadow: none;
  }
}

.cancel-link {
  color: $red;
  font-family: 'Alegreya', serif;
  font-size: 1.1rem;
  font-weight: bold;
}

// inputs

.input-text {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  label {
    font-weight: bold;
    margin-bottom: .5rem;
    margin-left: 1rem;
    text-align: left;
  }
  input {
    background: $white;
    border: 1px solid $green-dark;
    box-shadow: inset 0px 2px 2px rgba(21, 51, 60, 0.5);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    height: 50px;
    padding: 1rem;
  }
}

.content {
  padding: 2rem;
  width: 100%;
}

.hide {
  display: none !important;
}
