.builder {
    display: flex;
    height: calc(100vh - 250px);
    width: 100%;

    .preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
    }

    .tools {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 1rem;
        width: 55%;
    }
}

.card-info {
    margin: 1.5rem 0;
    text-align: center;
}

.flip {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    svg {
        cursor: pointer;
        margin: 0 2rem;
    }
}

.card-preview {
    background-color: $white;
    border: 1px solid $gray;
    margin: auto;
    padding: 1.5rem;
    width: 50%;
    img.card-guides {
        text-align: center;
        z-index: 9;
    }
}

.preview-links {
    align-items: center;
    display: flex;
    justify-content: center;
    .icon-link {
        margin: 1rem;
    }
}

.add-to-card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    span {
        font-weight: bold;
    }
    .btn-line {
        margin-left: 3rem;
    }
}

.element-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.element {
    background-color: $white;
    margin-top: 1rem;
    &.collapsed {
        .element-content {
            display: none;
        }
    }
}

.element-header {
    align-items: center;
    border-bottom: 2px solid $gray-light;
    display: flex;
    .element-name {
        align-items: center;
        display: flex;
        padding: .8rem 1rem;
        span {
            font-family: 'Alegreya', serif;
            font-weight: bold;
            margin-left: .6rem;
        }
        input {
            border: none;
            color: $black;
            font-family: 'Alegreya', serif;
            font-weight: bold;
            font-size: 1.2rem;
            min-width: 25vw;
            padding: 0 .6rem;
            &::placeholder {
                color: $green;
            }
        }
    }
    .element-options {
        align-items: center;
        display: flex;
        margin-left: auto;
        a {
            padding: .8rem 1rem;
            &:hover {
                svg {
                    fill: $green;
                }
            }
            &.delete {
                margin-right: .5rem;
                &:hover {
                    svg {
                        fill: $red;
                    }
                }
            }
            &.collapse {
                border-left: 1px solid $gray;
                padding: .8rem 1.5rem;
            }
        }
    }
}

.element-content {
    padding: 1rem;
}
