/*	COLORS
------------------------*/

$white: #ffffff;
$black: #000000;
$gray-medium: #697a93;
$gray: #cbd0da;
$gray-light: #EFEFEF;
$gray-dark: #252a3d;
$pink: #fc1c6a;
$red: #F12E2E;
$blue: #3452d4;
$orange: #f95139;
$green: #33B7A4;
$green-dark: #2A6B61;
$green-light: #ACD8D0;
$green-hover: #12dfb0;
$shadow: rgba(32,13,40,.6);
$dark-shadow: rgba(32,13,40,.82);
$light: rgba(255,255,255,.8);
