.table-3, .table-4, .table-dynamic {
    display: grid;
    grid-gap: 10px;

    .table-row {
        background-color: $white;
        display: grid;
        grid-gap: 10px;
        padding: 1rem;

        &.table-header {
            background-color: transparent;
            span {
                font-weight: bold;
            }
        }
    }

    .table-actions {
        align-items: center;
        display: flex;
        margin-left: auto;
        a {
            margin: 0 .8rem;
            &:hover {
                &.trash {
                    svg {
                        fill: $red;
                    }
                }
                svg {
                    fill: $green;
                }
            }
        }
    }
}

.table-3 {
  .table-row {
    grid-template-columns: 30vw repeat(3, 1fr);
  }
}

.table-4 {
  .table-row {
    grid-template-columns: 30vw repeat(4, 1fr);
  }
}

.table-dynamic {
  .table-row {
    grid-template-columns: 3rem repeat(auto-fit, minmax(20px, 1fr));
  }
}

.table-empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .3;
    width: 100%;
    span {
        font-family: 'Alegreya', serif;
        font-size: 2rem;
        text-align: center;
    }
    svg {
        margin: 2rem 0;
        max-height: 200px;
        max-width: 200px;
    }
}
