div
  div.table-4(v-if="cards && cards.length > 0")
    div.table-row.table-header
      span NUM
      span(v-for="col in columns") {{ col['name'].toUpperCase() }}
      span


    div.table-row(v-for="card, num_card in cards")
      span {{ num_card + 1 }}
      input(v-for="col in columns", v-model="card['_'+col['id']]")
      div.table-actions
        a(href="#")
          include ../../images/copy.svg
        a(href="#")
          include ../../images/trash.svg

  div.table-empty(v-if="cards && cards.length === 0")
    include ../../images/cards.svg
    span Still no cards here...
