extends ../../templates/layouts/main

block head_end

block content
  main-header
  breadcrumbs(v-on:addCardEvent="addCard", v-on:saveCardsEvent="saveCards",v-on:cardDesignEvent="cardDesign")
  popup-message

  div.content
    deck-print-lightbox
    cards
