extends ../../templates/layouts/main

block content
  include ../../templates/partials/header
  include ../../templates/partials/breadcrumb

  div.content
      include ../../templates/partials/builder