div.modal-lightbox(v-if="lightboxOpen")
  form(@submit.prevent="onSubmit")
    div.modal
      div.art
        include ../../images/icon-dwarf.svg
      h3 Print this deck
      p The time has come. Choose how your deck will look like:
      div.print-list
        span.section Printing type
        div.row-input
          div.input-radio
            input(type="radio", id="printing-type-1", v-model="printingType", value="tabletop")
            label(for="printing-type-1")
              span Tabletop
          div.input-radio
            input(type="radio", id="printing-type-2", v-model="printingType", value="standard")
            label(for="printing-type-2")
              span Printing
          div.input-radio
            input(type="radio", id="printing-type-3", v-model="printingType", value="print_and_play")
            label(for="printing-type-3")
              span Print & Play
        span.section Page size
        div.row-input(v-bind:class="{disabled: disableOptions}")
          div.input-radio
            input(type="radio", id="page-size-1", v-model="pageSize", value="a3")
            label(for="page-size-1")
              span A3
          div.input-radio
            input(type="radio", id="page-size-2", v-model="pageSize", value="a4")
            label(for="page-size-2")
              span A4
          div.input-radio
            input(type="radio", id="page-size-3", v-model="pageSize", value="individual")
            label(for="page-size-3")
              span Cards
        span.section File type
        div.row-input(v-bind:class="{disabled: disableOptions}")
          div.input-radio
            input(type="radio", id="file-type-1", v-model="fileType", value="png")
            label(for="file-type-1")
              span PNG
          div.input-radio
            input(type="radio", id="file-type-2", v-model="fileType", value="pdf")
            label(for="file-type-2")
              span PDF
          div.input-radio
      div.modal-buttons
        a(@click="onCancelClicked").cancel-link CANCEL
        button(type="submit" value="PRINT DECK" :class="{disabled: isEmpty}").btn-primary PRINT DECK
      //- corners
      div.corner.top-left
        include ../../images/corner.svg
      div.corner.top-right
        include ../../images/corner.svg
      div.corner.bottom-left
        include ../../images/corner.svg
      div.corner.bottom-right
        include ../../images/corner.svg
      div.corner.bottom
        include ../../images/marker.svg
