div.modal-lightbox(v-if="lightboxOpen")
  form(@submit.prevent="onSubmit")
    div.modal
      div.art
        include ../../images/decks.svg
      h3 Edit deck
      div.input-text
        label DECK NAME
        input(type="text" v-model.trim="name")
      div.modal-buttons
        a(@click.prevent="onCancelClicked").cancel-link CANCEL
        input(type="submit" value="UPDATE DECK" :class="{disabled: isNameEmpty}").btn-primary
      //- corners
      div.corner.top-left
        include ../../images/corner.svg
      div.corner.top-right
        include ../../images/corner.svg
      div.corner.bottom-left
        include ../../images/corner.svg
      div.corner.bottom-right
        include ../../images/corner.svg
      div.corner.bottom
        include ../../images/marker.svg
