div
  div.table-4(v-if="decks && decks.length > 0")
    div.table-row.table-header
      span NAME
      span Nº CARDS
      span SIZE (mm)
      span CREATED

    div.table-row(v-for="deck in decks")
      router-link(:to="{name: 'deck', params: {id: deck.id}}")
        | {{ deck.name }}
      span {{ deck.n_cards }}
      span {{ deck.size }}
      span 2/3/2018
      div.table-actions
        a(@click.prevent="openDeckUpdateLightbox(deck)")
          include ../../images/edit.svg
        a(href="#")
          include ../../images/copy.svg
        a(@click.prevent="openPrintLightbox(deck)")
          include ../../images/print.svg
        a(@click.prevent="onDeleteClicked(deck)").trash
          include ../../images/trash.svg

  div.table-empty(v-if="decks && decks.length === 0")
    include ../../images/decks.svg
    span Still no decks here...
