extends ../../templates/layouts/main

block head_end

block content
  main-header
  breadcrumbs
  popup-message
  confirm-lightbox

  div.content
    deck-create-lightbox
    deck-update-lightbox
    deck-print-lightbox
    decks
