div.breadcrumb

  ul.bread-nav
    li
      include ../../images/games.svg
      a(href="#")
        span YOUR GAMES
    li
      include ../../images/decks.svg
      a(href="#")
        span _GAME NAME_
    li
      include ../../images/cards.svg
      span _DECK NAME_

  div.buttonzone
    a(href="#").btn-primary CREATE GAME
