div.breadcrumb

  ul.bread-nav
    // null=loading; undefined=no game
    template(v-if="currentGame === undefined")

      li
        include ../../images/games.svg
        span YOUR GAMES

    template(v-else-if="currentGame !== null")

      li
        include ../../images/games.svg
        router-link(:to="{name: 'Home'}")
          span YOUR GAMES

      template(v-if="currentDeck === undefined")

        li
          include ../../images/games.svg
          span {{ currentGame.name }}

      template(v-else-if="currentDeck !== null")

        li
          include ../../images/games.svg
          router-link(:to="{name: 'Game', params: {id: currentGame.id}}")
            span {{ currentGame.name }}

        li
          include ../../images/cards.svg
          span {{ currentDeck.name }}

  div.buttonzone
    a(v-if="currentGame === undefined", @click.prevent="openGameCreateLighbox").btn-primary CREATE GAME
    a(v-else-if="currentDeck === undefined", @click.prevent="openDeckCreateLighbox").btn-primary CREATE DECK
    <template v-else>
      a(href="#").btn-secundary
        include ../../images/add-card.svg
        span ADD CARD
      a(href="#").btn-primary CARD DESIGN
    </template>
