div.breadcrumb

  ul.bread-nav
    // null=loading; undefined=no game
    template(v-if="currentGame === undefined")

      li
        include ../../images/games.svg
        span YOUR GAMES

    template(v-else-if="currentGame !== null")

      li
        include ../../images/games.svg
        router-link(:to="{name: 'home'}")
          span YOUR GAMES

      template(v-if="currentDeck === undefined")

        li
          include ../../images/decks.svg
          span {{ currentGame.name }}

      template(v-else-if="currentDeck !== null")

        li
          include ../../images/decks.svg
          router-link(:to="{name: 'game', params: {id: currentGame.id}}")
            span {{ currentGame.name }}

        li
          include ../../images/cards.svg
          span {{ currentDeck.name }}

  div.buttonzone
    a(v-if="currentGame === undefined", @click.prevent="openGameCreateLighbox").btn-primary CREATE GAME
    a(v-else-if="currentDeck === undefined", @click.prevent="openDeckCreateLighbox").btn-primary CREATE DECK
    <template v-else>
      <template v-if="showLayers">
        a(@click="saveLayers").icon-link
          include ../../images/ok.svg
          span SAVE DESIGN
        a(@click="forgeCards").btn-primary
          | FORGE CARDS
      </template>
      <template v-else>
        a(@click="saveCards").icon-link
          include ../../images/ok.svg
          span SAVE CARDS
        a(@click="addCard").icon-link
          include ../../images/add-card.svg
          span ADD CARD
        a(@click="cardDesign").btn-primary
          | CARD DESIGN
      </template>


    </template>
