div.modal-lightbox(v-if="lightboxOpen")
  div.modal.print-info
    div.art
      include ../../images/cards.svg
    h3 Are you sure?
    p Lorem ipsum dolor sit amet...
    div.modal-buttons
      a(@click.prevent="onCancelClicked").btn-primary CANCEL
      a(@click.prevent="onOkClicked").btn-primary OK
    //- corners
    div.corner.top-left
      include ../../images/corner.svg
    div.corner.top-right
      include ../../images/corner.svg
    div.corner.bottom-left
      include ../../images/corner.svg
    div.corner.bottom-right
      include ../../images/corner.svg
    div.corner.bottom
      include ../../images/marker.svg
