div.modal-lightbox(v-if="lightboxOpen")
  div.modal
    div.art
      include ../../images/skull.svg
    h3 HEY! Are you sure?
    p All the changes will be lost
    div.modal-buttons
      a(@click.prevent="onCancelClicked").cancel-link NO! I LOVE IT
      a(@click.prevent="onOkClicked").btn-primary YES, BURN IT DOWN
    //- corners
    div.corner.top-left
      include ../../images/corner.svg
    div.corner.top-right
      include ../../images/corner.svg
    div.corner.bottom-left
      include ../../images/corner.svg
    div.corner.bottom-right
      include ../../images/corner.svg
    div.corner.bottom
      include ../../images/marker.svg
