div.header
  h1 kongo

  a(href="/").main-logo
    include ../../images/main-logo.svg
    h1 CARD FORGE

  ul.main-nav
    li.current
      a(href="#") YOUR GAMES
    li
      a(href="#") YOUR IMAGES

  div.userzone
    span username
    include ../../images/user-icon.svg

