div.modal-message(v-if="messageOpen")
  span
    include ../../images/hammer.svg
  div.message-text
    h3 {{ messageHeader }}
    p {{ messageSubtext }}

    a(@click.prevent="onCloseClicked").cancel-link
      include ../../images/close.svg
