doctype html
html
  head
    title CardForge
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(name="description", content="Card game designer and printer tool.")
    meta(name="keywords", content="card, game, tabletop, builder, designer")
    link(rel="icon", href="images/favicon.png", type="image/png")
    block head_end

  body
    block content

    block scripts
