div.table
  div.table-row.table-header
    span NAME
    span Nº DECKS
    span CREATED

  div.table-row
    a(href="#") _GAME NAME_
    span 2
    span 2/3/2018
    div.table-actions
      a(href="#")
        include ../../images/edit.svg
      a(href="#")
        include ../../images/copy.svg
      a(href="#")
        include ../../images/trash.svg
  div.table-row
    a(href="#") _GAME NAME_
    span 6
    span 11/11/2018
    div.table-actions
      a(href="#", alt="edit")
        include ../../images/edit.svg
      a(href="#", alt="duplicate")
        include ../../images/copy.svg
      a(href="#", alt="delete").trash
        include ../../images/trash.svg
  div.table-row
    a(href="#") _GAME NAME_
    span 3
    span 12/12/2018
    div.table-actions
      a(href="#", alt="edit")
        include ../../images/edit.svg
      a(href="#", alt="duplicate")
        include ../../images/copy.svg
      a(href="#", alt="delete").trash
        include ../../images/trash.svg
  div.table-row
    a(href="#") _GAME NAME_
    span 6
    span 3/3/2018
    div.table-actions
      a(href="#", alt="edit")
        include ../../images/edit.svg
      a(href="#", alt="duplicate")
        include ../../images/copy.svg
      a(href="#", alt="delete").trash
        include ../../images/trash.svg
