div.table-3
  div.table-row.table-header
    span NAME
    span Nº DECKS
    span CREATED

  div.table-row(v-for="game in games")
    router-link(:to="{name: 'Game', params: {id: game.id}}")
      | {{ game.name }}
    span {{ game.n_decks }}
    span {{ game.created|format("YYYY-DD-MM") }}
    div.table-actions
      a(href="#")
        include ../../images/edit.svg
      a(href="#")
        include ../../images/copy.svg
      a(href="#")
        include ../../images/trash.svg
