div
  div.table-3(v-if="games && games.length > 0")
    div.table-row.table-header
      span NAME
      span Nº DECKS
      span CREATED

    div.table-row(v-for="game in games")
      router-link(:to="{name: 'Game', params: {id: game.id}}")
        | {{ game.name }}
      span {{ game.n_decks }}
      span {{ game.created|format("YYYY-DD-MM") }}
      div.table-actions
        a(@click.prevent="editGame(game)")
          include ../../images/edit.svg
        a(href="#")
          include ../../images/copy.svg
        a(@click.prevent="deleteGame(game)")
          include ../../images/trash.svg

  div.table-empty(v-if="games && games.length === 0")
    include ../../images/games.svg
    span Still no games here...
