extends ../../templates/layouts/main

block head_end

block content
  main-header
  breadcrumbs
  popup-message

  div.content
    confirm-lightbox
    game-create-lightbox
    game-update-lightbox
    games
