extends ../../templates/layouts/main

block head_end

block content
  include ../../templates/partials/header
  include ../../templates/partials/breadcrumb

  div.content
    include ../../templates/partials/table
    