div.builder
  
  div.preview
    div.flip
      a(href="#", alt="card face").btn-primary.btn-line.current FACE
      include ../../images/switch.svg
      a(href="#", alt="card back").btn-primary.btn-line BACK
    p.card-info Poker deck (63 x 88 mm) | Portrait

    div.card-preview
      img(src="../../images/card-guides.png").card-guides

    div.preview-links
      a(href="#", alt="print info").icon-link
        include ../../images/info-circle.svg
        span PRINT INFO
      a(href="#", alt="show guides").icon-link
        include ../../images/eye.svg
        span SHOW GUIDES

  div.tools
    div.add-to-card
      span ADD TO CARD
      a(href="#", alt="add image").btn-primary.btn-line 
        include ../../images/image.svg
        span IMAGE
      a(href="#", alt="add text").btn-primary.btn-line
        include ../../images/text.svg
        span TEXT
      a(href="#", alt="add box").btn-primary.btn-line
        include ../../images/box.svg
        span BOX
      a(href="#", alt="add circle").btn-primary.btn-line
        include ../../images/circle.svg
        span CIRCLE
      a(href="#", alt="add line").btn-primary.btn-line
        include ../../images/line.svg
        span LINE

    div.element
      div.element-header
        div.element-name
          include ../../images/image.svg
          input(type="text", placeholder="IMAGE")
        div.element-options
          a(href="#", alt="hide element")
            include ../../images/eye.svg
          a(href="#", alt="duplicate element")
            include ../../images/copy.svg
          a(href="#", alt="order element")
            include ../../images/drag.svg
          a(href="#", alt="delete element").delete
            include ../../images/trash.svg
          a(href="#", alt="collapse element").collapse
            include ../../images/arrow.svg
      div.element-content.content-image
        div.row-input
          div.input-checkbox
            input(type="checkbox", id="c1", name="template-check")
            label(for="c1")
              span Template element
        div.row-input
          div.input-text
            label Image file 
            input(type="text", placeholder="Paste an image URL")
          //-div.input-text
            label Upload file
            input(type="file")
        div.row-input
          div.input-text
            label Image size X (px)
            input(type="number")
          div.input-text
            label Image size Y (px) 
            input(type="number")
        div.row-input
          div.input-text
            label Position X (px)
            input(type="number")
          div.input-text
            label Position Y (px) 
            input(type="number")

