div.builder
  
  div.preview
    div.flip
      a(href="#", alt="card face").btn-primary.btn-line.current FACE
      include ../../images/switch.svg
      a(href="#", alt="card back").btn-primary.btn-line BACK
    p.card-info Poker deck (63 x 88 mm) | Portrait

    div.card-preview
      img(src="../../images/card-guides.png").card-guides

    div.preview-links
      a(href="#", alt="print info").icon-link
        include ../../images/info-circle.svg
        span PRINT INFO
      a(href="#", alt="show guides").icon-link
        include ../../images/eye.svg
        span SHOW GUIDES

  div.tools
    div.add-to-card
      span ADD TO CARD
      a(href="#", alt="add image").btn-primary.btn-line 
        include ../../images/image.svg
        span IMAGE
      a(href="#", alt="add text").btn-primary.btn-line
        include ../../images/text.svg
        span TEXT
      a(href="#", alt="add box").btn-primary.btn-line
        include ../../images/box.svg
        span BOX
      a(href="#", alt="add circle").btn-primary.btn-line
        include ../../images/circle.svg
        span CIRCLE
      a(href="#", alt="add line").btn-primary.btn-line
        include ../../images/line.svg
        span LINE