// LOGIN STYLES
.login {
    background-image: url("../images/forge-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;

    h1.login-logo {
        margin: 2rem auto 0 5vw;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: hidden;

        &.left {
            animation: loginLeft 1s ease-out 1.5s forwards;
            background-color: $white;
            width: 0%;
        }

        &.right {
            animation: loginRight 1s ease-out 1.5s forwards;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
                height: 650px;
                width: 550px;
            }
        }
    }
}
 .modal {
    border: 1px solid $green-light;
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya', serif;
    justify-content: center;
    margin: auto;
    min-width: 400px;
    padding: 6.5rem 3rem 3rem 3rem;
    position: relative;
    text-align: center;
    h3 {
        border-bottom: 1px solid $gray;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    .art {
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
    }
    .corner {
        position: absolute;
        &.top-left {
            left: -14px;
            top: -22px;
            transform: rotate(-90deg);
        }
        &.top-right {
            right: -18px;
            top: -18px;
        }
        &.bottom-left {
            bottom: -18px;
            left: -18px;
            transform: rotate(-180deg);
        }
        &.bottom-right {
            bottom: -22px;
            right: -14px;
            transform: rotate(90deg);
        }
        &.bottom {
            bottom: -22px;
            left: 0;
            width: 100%;
            svg {
                fill: $green-light;
            }
        }
    }
 }
