// LOGIN STYLES
.login {
    background-image: url("../images/forge-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100%;

    h1.login-logo {
        margin: 2rem auto 0 5vw;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: hidden;

        &.left {
            animation: loginLeft 1s ease-out 1.5s forwards;
            background-color: $white;
            width: 0%;
        }

        &.right {
            animation: loginRight 1s ease-out 1.5s forwards;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
                height: 650px;
                width: 550px;
            }
        }
    }
}
